#subContain{
    padding: 20px;
    position: fixed;
    top: 245px;
    z-index: 1;
    height: 350px;
    width: 500px;
    left: 507.5px;
    text-align: center;
    font-family: cursive;
}
#disc{
    background-color:chartreuse;
    border-radius: 20px;
    text-align: center;
    margin: 0 0 20px 0;  
}
#innerDisc{
    font-weight: bolder;
    padding: 6px;
    font-size: 40px;
    background-color:chartreuse ;  
}
#container
{
    position: fixed;
    top: 200px;
    z-index: 1;
    height: 400px;
    width: 600px;
    opacity: 50%;
    background-color: white;
    left: 480px;
    border-radius: 40px;
}